
// fonts
$base_size: 16px;
$base_size-small: 14px;
$font-size-h1: 3rem; // 48px
$font-size-h1-small: 2rem; // 32px
$font-size-h2: 1.875rem; // 30px
$font-size-h2-small: 1.5rem; // 24px;
$sub-heading: 1.25rem; //20px;
$font-size-h3: 1.125rem; //18px;

// General Colors
$color_white: #fff;
$color_black: #000;

// grays
$gray_base: #5f6e75;
$gray_darker: #374044;
$gray_dark: #798c94;
$gray-light: #e5e5e5;

// Brand colors
$brand_color: #25bbf6;
$brand_color-lighter: #5bcbf8;

// Margins
$base_spacing: 20px;
$spacing_level-1: 4px;
$spacing_level-2: 6px;
$spacing_level-3: 8px;
$spacing_level-4: 10px;



